.home {
  @include bg;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 100vh;
  @include r($sm) {
    height: auto;
    padding: 155px 0 60px;
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .45);
    @media (max-width: 530px) {
      background-color: rgba(#000, .5);
    }
  }

  &__video {
    @include objectCoverBg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width: 775px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1300px) {
      max-width: 700px;
    }
    @include r($desktop) {
      max-width: 640px;
    }
    @include r($tablet) {
      max-width: 600px;
    }
    @include r($sm) {
      max-width: 540px;
    }
  }

  &__title {
    font-size: 74px;
    line-height: 1.15;
    margin-bottom: 35px;
    @media (max-width: 1300px) {
      font-size: 68px;
    }
    @include r($desktop) {
      font-size: 64px;
    }
    @include r($lg) {
      font-size: 60px;
    }
    @include r($tablet) {
      font-size: 56px;
      line-height: 1.1;
    }
    @include r($sm) {
      font-size: 50px;
    }
    @media (max-width: 530px) {
      font-size: 46px;
    }
    @include r($phone) {
      font-size: 42px;
    }
    @media (max-width: 380px) {
      font-size: 40px;
    }
  }

  &__text {
    max-width: 550px;
    margin: 0 auto 70px;
    opacity: .8;
    font-size: 22px;
    @include r($lg) {
      margin-bottom: 50px;
    }
    @include r($tablet) {
      margin-bottom: 45px;
    }
    @include r($sm) {
      font-size: 20px;
      max-width: 490px;
    }
    @media (max-width: 420px) {
      font-size: 18px;
    }
  }

  &__links {
    @include flex-column(8);
    max-width: 340px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include r($sm) {
      max-width: 300px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 100%;
    background-color: $white;
    color: #1e1e1e;

    &:focus {
      border-color: #61adff;
      color: #fff;
    }

    &--transparent {
      color: $white;
      border-color: $white;
      backdrop-filter: blur(6px);
      background-color: rgba($white, .1);

      &:focus {
        border-color: #25D366;
        color: #1ffd72;

        svg path {
          fill: #25D366;
        }
      }
    }

    &.telegram {
      &:focus {
        border-color: #239dda;
        color: #239dda;

        svg path {
          fill: #239dda;
        }
      }
    }

    svg {
      width: 22px;
      height: 22px;

      path {
        fill: $white;
      }
    }
  }
}