.modal {
  @include topLeft50;
  position: fixed;
  max-width: 460px;
  max-height: 90vh;
  width: 96%;
  padding: 40px 24px;
  opacity: 0;
  visibility: hidden;
  z-index: 210;
  border-radius: 16px;
  background: #f6f6f6;
  box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
  transform: translate(-50%, -25%);
  transition: transform .45s ease-in-out, visibility .4s, opacity .4s;
  @media (max-width: 800px) {
    padding-top: 30px;
  }
  @media (max-width: 560px) {
    max-width: 410px;
  }
  @media (max-width: 415px) {
    width: 95%;
    padding: 35px 20px 26px;
  }
  @media (max-height: 680px) {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  &__title {
    line-height: 1.2;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 24px;
    @media (max-width: 610px) {
      font-size: 26px;
    }
    @include r($phone) {
      font-size: 24px;
    }
  }

  &__subtext {
    color: rgba($white, .6);
    font-size: 16px;
    margin-bottom: 32px;
    @media (max-width: 520px) {
      font-size: 15px;
    }
  }

  &__btn {
    @media (max-width: 520px) {
      font-size: 15px;
    }
  }

  &__close {
    @include flex-center;
    width: 44px;
    height: 44px;
    padding: 2px;
    position: absolute;
    top: -42px;
    right: -42px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #F7F7F8;
    box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
    transition: border .4s, background-color .4s;
    @include r($phone) {
      top: -18px;
      right: -20px;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .36);
    }
    @media (max-width: 415px) {
      right: 9px;
      top: 8px;
      background-color: #F6F6F6;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .46);
    }
    @media (max-height: 710px) {
      top: -20px;
    }
    @media (max-height: 680px) {
      top: 8px;
      right: 8px;
      background-color: #F6F6F6;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .46);
    }

    &:hover {
      border-color: #2193d0;
      background-color: transparent;
      @include r($phone) {
        background-color: #2193d0;
      }

      svg path {
        fill: $white;
      }
    }

    &:focus {
      background-color: #007aff;
      border-color: transparent;

      svg path {
        fill: $white;
      }
    }
  }

  &__btn {
    @include flex-center;
    margin-top: 25px;
    padding: 17px 24px;
    color: $white;
    border: 1px solid transparent;
    border-radius: 16px;
    max-width: max-content;
    font-size: 16px;
    background-color: $accent;
    transition: border .4s, background-color .4s, color .4s;
    @media (max-width: 405px) {
      font-size: 15px;
    }

    &:hover {
      background-color: #016de3;
    }

    &:focus {
      background-color: transparent;
      border-color: $accent;
      color: $black100;
    }
  }
}

.modal.modal-booking {
  background-color: $white;
  padding: 35px 25px 30px;
  border-radius: 16px;
  max-width: 450px;
  max-height: 98vh;
  overflow-y: scroll;
  @include r($phone) {
    .modal.modal-booking {
      padding: 32px 21px 30px;
    }
  }
}

.modal-booking__slots {
  margin-top: 30px;
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 10px;
  @include r($phone) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 395px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.time-slot {
  padding: 12px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color .4s, color .4s;
}

.time-slot:hover {
  background-color: #1b3877;
  color: white;
}

.time-slot.booked {
  background-color: #e0e0e0 !important;
  cursor: not-allowed;
  opacity: .7;
  color: #1e1e1e !important;
}

.time-slot.selected {
  background-color: #1b3877;
  color: white;
}

.time-slot.intermediate {
  background-color: rgba(27, 56, 119, 0.2);
  color: #000;
}

.modal-booking__actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.modal-booking__actions * {
  max-width: 100%;
  font-size: 16px;
}

.modal-booking__label {
  display: block;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 6px;
}

.modal-booking__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}