<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img class="footer__logo" width="129" height="80" src="images/logo-dark.png" alt="логотип студии">
        <p class="footer__text">
          ИП Аветисян Анна Александровна <br>
          ИНН: 665811779889 <br>
          ОГРН: 320665800114629
        </p>
      </div>
      <div class="footer__columns">
        <div class="footer__column">
          <span class="footer__column-name">О нас</span>
          <div class="footer__list">
            <a class="footer__link" href="">Центр</a>
            <a class="footer__link" href="">Как пройти</a>
            <a class="footer__link" href="">Новости</a>
          </div>
        </div>
        <div class="footer__column">
          <span class="footer__column-name">Разделы</span>
          <div class="footer__list">
            <a class="footer__link" href="">Услуги</a>
            <a class="footer__link" href="">Отзывы</a>
            <a class="footer__link" href="">Фото</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>