<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="images/logo-white.png" width="92" height="57" alt="логотип студии">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#benefits">Преимущества</a>
          </li>
          <li>
            <a class="header__link desktop" href="#programs">Программы</a>
          </li>
          <li>
            <a class="header__link desktop" href="#dream">Условия сна</a>
          </li>
          <li>
            <a class="header__link desktop" href="#schedule">Расписание</a>
          </li>
          <li>
            <a class="header__link desktop" href="#groups">Группы</a>
          </li>
        </ul>
      </nav>
      <p></p>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
    </div>
  </div>
</header>