<header class="header">
  <div class="container">
    <div class="header__inner">
      <img src="images/logo.png" width="56" height="56" alt="логотип детского садика">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#benefits">Преимущества</a>
          </li>
          <li>
            <a class="header__link desktop" href="#programs">Программы</a>
          </li>
          <li>
            <a class="header__link desktop" href="#dream">Условия сна</a>
          </li>
          <li>
            <a class="header__link desktop" href="#schedule">Расписание</a>
          </li>
          <li>
            <a class="header__link desktop" href="#groups">Группы</a>
          </li>
        </ul>
      </nav>
      <a class="header__btn btn desktop" href="#form">Записаться</a>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Interact with menu</span>
      </button>
    </div>
  </div>
  <nav class="header__mobile">
    <ul class="header__list">
      <li>
        <a class="header__link mobile" href="#benefits">Преимущества</a>
      </li>
      <li>
        <a class="header__link mobile" href="#programs">Программы</a>
      </li>
      <li>
        <a class="header__link mobile" href="#dream">Условия сна</a>
      </li>
      <li>
        <a class="header__link mobile" href="#schedule">Расписание</a>
      </li>
      <li>
        <a class="header__link mobile" href="#groups">Группы</a>
      </li>
    </ul>
  </nav>
</header>