<header class="header">
  <div class="container container--big">
    <div class="header__inner">
      <a href="/">
        <img src="images/logo.svg" width="110" height="24" alt="logo LinkCut">
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link" href="/#about">About us</a>
          </li>
          <li>
            <a class="header__link" href="/#services">Our services</a>
          </li>
          <li>
            <a class="header__link" href="/#plan">Write to us</a>
          </li>
          <li>
            <a class="header__link" href="/#team">Our team</a>
          </li>
          <li>
            <a class="header__link" href="/#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Interact with menu</span>
      </button>
    </div>
  </div>
</header>
<div class="header__mobile">
  <nav class="header__nav mobile">
    <ul class="header__list">
      <li>
        <a class="header__link" href="/#about" tabindex="-1">About us</a>
      </li>
      <li>
        <a class="header__link" href="/#services" tabindex="-1">Our services</a>
      </li>
      <li>
        <a class="header__link" href="/#plan" tabindex="-1">Write to us</a>
      </li>
      <li>
        <a class="header__link" href="/#team" tabindex="-1">Our team</a>
      </li>
      <li>
        <a class="header__link" href="/#contacts" tabindex="-1">Contacts</a>
      </li>
    </ul>
  </nav>
</div>